<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Vehicles</th> <!-- New header for vehicles -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.customer_id }}</td>
      <td>{{ customer.first_name }}</td>
      <td>{{ customer.last_name }}</td>
      <td>{{ customer.date_of_birth | date }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.phone_number }}</td>
      <td>{{ customer.email }}</td>
      <td>
        <ul *ngIf="customer.Vehicles && customer.Vehicles.length > 0">
          <li *ngFor="let vehicle of customer.Vehicles">
            {{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }}) - {{ vehicle.color }}
          </li>
        </ul>
        <span *ngIf="!customer.Vehicles || customer.Vehicles.length === 0">No vehicles</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
